<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sim">
<!--    <link rel="icon" href="/img/soro.ico" type="image/x-icon"/>-->
    <title>laybarbarian</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/layui/layui.js" ></script>
    <script src="/particles/particles.min.js"></script>
    <script src="/particles/stats.js"></script>
    <script  src="/js/common.js" ></script>
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <link rel="stylesheet" href="/css/visitParticlesCss.css">
    <style type="text/css">
        #films{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

<div id="particles-js"></div>

<div class="layui-carousel" id="films">
    <div carousel-item>
        <#list urls as url>
        <div class="layui-bg-black" style="text-align: center"><img src=${url} height="600px"  onclick="showBigPic(this)"></div>
         </#list>
    </div>
</div>


<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>



</body>
<script>


// http://codepen.io/VincentGarreau/pen/pnlso

    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 50,
                "density": {
                    "enable": true,
                    "value_area": 1000
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type":"star",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": true,
                "anim": {
                    "enable": true,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "grab"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 140,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });


    /* ---- stats.js config ---- */

    var count_particles, update;
    // stats = new Stats;
    // stats.setMode(0);
    // stats.domElement.style.position = 'absolute';
    // stats.domElement.style.left = '0px';
    // stats.domElement.style.top = '0px';
    // document.body.appendChild(stats.domElement);
    // count_particles = document.querySelector('.js-count-particles');
    update = function() {
        // stats.begin();
        // stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            // count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);

layui.use('carousel', function(){
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
        elem: '#films'
        ,width: '40%' //设置容器宽度
        ,height: '600px'
        ,arrow: 'hover'
        //,anim: 'updown' //切换动画方式
        ,autoplay:true
        ,interval:6666
    });
});



</script>


</html>